body {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSfccid4FgRxF0-pJBdQQuKPaa1MJRv6XtbmODExhH4ZhFsyXcG");
  background-size: cover;
 
  margin: 0;
  padding: 0;
  font-family: 'Caveat', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  

}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
